{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>my_cms</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Simple CMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% comment %} <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li> {% endcomment %}
                        <li class="nav-item"><a class="nav-link" href="home">All Blogs</a></li> 
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="add">add new</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Send your own creation</h1>
                    <p class="lead mb-0">fill all and send to post</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
       
        <div class="card mb-4 h-50">
                            <form method="post" action="{% url 'add' %}">
                                {% csrf_token %}                       
                                <div class="card-body" style="margin-left: 400px;margin-right: 300px;">

                                    <h3>Enter post title:</h3>
                                        <label for="text">Enter title:</label>
                                        <input type="text" id="text" name="title">
                                    
                                    <h3>Enter catagory</h3>
                                        <label for="cars">Category:</label>
                                        <select name="category" id="cars">
                                        <option value="0">normal</option>
                                        <option value="1">featured</option>
                                        </select>
                                    
                                    <h3>Enter Frame</h3>
                                        <label for="cars">Frame here:</label>
                                        <select name="fram" id="cars">
                                        <option value="0">django</option>
                                        <option value="1">flask</option>
                                        <option value="2">featured</option>
                                        </select>
                                    
                                    <h3>enter Thumbnail:</h3>
                                        <label for="myfile">Select files:</label>
                                        <input type="file" id="myfile" name="thumbnail" multiple>
                                    
                                    <h3>Compose Content:</h3>
                                        <textarea id="w3review" name="body" rows="4" cols="50"></textarea>
                                      
                                    <h3>Post Summary:</h3>
                                        <textarea id="w3review" name="summary" rows="4" cols="50"></textarea>
                                          
                                    
                                    <button type="submit" class="btn btn-primary">add →</button>
                                </div>
                            </form>
        </div>

                





        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; CarrierHub 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        


    </body>
</html>
